@model WebApplication1.Models.ElectronicProducts

@{
    ViewBag.Title = "AvailableProducts";
}

<h2>AvailableProducts</h2>

<ol type="A">
    @foreach (var item in ViewBag.availableProdList)
    {

        <li>
            @item.Productid   "  "   @item.ProductName "  "  @item.Price

        </li>



    }
</ol>
<hr/>

<table class="table table-hover">
    <tr>
    <thead>

    <td>ProductID    </td>
    <td>Name</td>
    <td>Price(Rs)</td>

    </thead>
    </tr>
    <tbody>


        @foreach (var item in ViewBag.availableProdList)
        {
            <tr>
                <td>@item.Productid</td>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
            </tr>





        }






    </tbody>
</table>
